#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6
#define ZMK_POINTING_DEFAULT_SCRL_VAL 80

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    /* 慣性スクロールプロセッサの定義 */
    scroll_inertia_v: scroll_inertia_v {
        compatible = "zmk,input-processor-scroll-inertia";
        #input-processor-cells = <0>;
        axis = <1>; /* 1 = 縦スクロール */
        layer = <SCROLL>; /* レイヤー5（SCROLL）に適用 */
        scale = <4>;
        scale-div = <675>;
    };

    combos {
        compatible = "zmk,combos";

        lang2 {
            bindings = <&kp LANG2>;
            key-positions = <13 12>;
        };

        lang1 {
            bindings = <&kp LANG1>;
            key-positions = <18 19>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <10 11>;
        };
    };

    behaviors {
        encoder_msc_down_up: encoder_msc_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_DOWN_UP";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp L             &kp U         &kp COMMA       &kp PERIOD                                                     &kp F        &kp W            &kp R        &kp Y              &kp P
&kp E      &mt LEFT_SHIFT I  &mt LCTRL A   &mt LEFT_ALT O  &kp MINUS     &kp F3            &trans                         &kp K        &mt RIGHT_ALT T  &mt RCTRL N  &mt RIGHT_SHIFT S  &lt 3 H
&kp Z      &kp X             &kp C         &kp V           &kp LEFT_WIN  &lt 1 F3          &trans                         &kp G        &kp D            &kp M        &kp J              &lt 2 B
&kp RCTRL  &kp C_MUTE        &kp LEFT_ALT  &kp LEFT_GUI    &lt 2 SPACE   &lt 3 DELETE      &kp BACKSPACE  &lt 1 ENTER                                                                  &kp LS(LG(N5))
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        FUN_NUM {
            bindings = <
&kp F4  &kp F1   &kp F2   &kp F3   &kp POUND                      &kp SLASH  &kp N7  &kp N8  &kp N9  &kp MINUS
&kp F5  &kp F7   &kp F8   &kp F9   &kp PRCNT  &trans      &trans  &kp ASTRK  &kp N4  &kp N5  &kp N6  &kp PLUS
&kp F6  &kp F10  &kp F11  &kp F12  &kp COLON  &trans      &trans  &kp N0     &kp N1  &kp N2  &kp N3  &kp EQUAL
&trans  &trans   &trans   &trans   &trans     &trans      &trans  &trans                             &kp DOT
            >;
        };

        SYMBOL {
            bindings = <
&kp EXCL   &kp AT        &kp HASH  &kp DLLR      &kp PRCNT                      &kp CARET  &kp AMPERSAND  &kp STAR  &kp LPAR   &kp RPAR
&kp QMARK  &kp LBKT      &kp DQT   &kp RBKT      &kp UNDER  &trans      &trans  &trans     &kp BACKSLASH  &kp PIPE  &kp SLASH  &trans
&trans     &kp LS(LBKT)  &kp SQT   &kp LS(RBKT)  &kp SEMI   &trans      &trans  &trans     &trans         &trans    &trans     &trans
&trans     &trans        &trans    &trans        &trans     &trans      &trans  &trans                                       &trans
            >;
        };

        ARROW {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &kp LS(LG(Z))        &kp LG(Z)       &kp LG(C)       &kp LG(V)        &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &kp LG(RIGHT_ARROW)  &mkp MB1        &kp UP_ARROW    &mkp MB2         &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &kp LG(LEFT_ARROW)   &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                                                &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans  &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mo 5   &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans  &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                              &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans          &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &msc MOVE_X(0)  &msc MOVE_Y(0)
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans          &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                  &trans
            >;
        };

        BLUETOOTH {
            bindings = <
&trans  &trans  &trans  &trans  &trans                          &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans      &trans        &bt BT_SEL 4  &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &bt BT_CLR  &trans                                                  &trans
            >;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };
    };
};
